
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="navbar-header col-xs-12">
                <a class="navbar-brand pull-left" href="/assignment/Widgets/widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>
                </a>
                <strong class="navbar-brand" id="setwhite">Choose Widget</strong>
            </div>
        </div>
    </div>
</nav>

<br>
<br>


<div class="container-fluid">
    <div class="row">
        <ul class="list-group list-unstyled ss-list-right-padding ss-table-margin">

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="/assignment/Widgets/widget-heading.html"> Header
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> Label
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> HTML
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> Text Input
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> Link
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> Button
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="/assignment/Widgets/widget-image.html"> Image
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="/assignment/Widgets/widget-youtube.html"> Youtube
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> Data Table
                </a>
            </li>

            <li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#"> Repeater
                </a>
            </li>

        </ul>
    </div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="navbar-text pull-right ss-right-glyph-margin">
                <div class="col-xs-3">
                    <a href="/assignment/User/profile.html">
                        <span class="glyphicon glyphicon-user ss-whiteicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

