
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="navbar-header col-xs-12">
                <a class="navbar-brand pull-left " href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>
                </a>

                <strong class="navbar-brand " id="setwhite"> Websites </strong>

                <p class="navbar-text pull-right ss-right-glyph-margin">
                    <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus ss-whiteicon">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container-fluid">
    <div class="row">
        <ul class="list-group list-unstyled ss-list-right-padding ss-table-margin">

            <li ng-repeat="website in model.websites" class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page"> {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right ss-bluecolor">
                        <span>
                </a>
            </li>

        </ul>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="navbar-text pull-right ss-right-glyph-margin">
                <div class="col-xs-3 ">
                    <a href="#/profile/{{model.userId}}">
                        <span class="glyphicon glyphicon-user ss-whiteicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


