

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid bg-primary">

            <div class="row">

                <div class="col-sm-4">
                    <div class="navbar-brand pull-left hidden-xs">
                        <a href="#/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>
                        </a>
                    </div>

                    <div class="navbar-text pull-right hidden-xs">
                        <p>
                            <a href="#/user/{{model.userId}}/website/new" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-plus ss-whiteicon">
                                    </span>
                            </a>
                        </p>
                    </div>

                    <div class="navbar-brand navbar-header hidden-xs" id="setwhite">
                        <a id="setwhite"> Websites
                        </a>
                    </div>
                </div>

                <div class="navbar-header col-sm-8">
                    <div class="navbar-brand pull-left visible-xs">
                        <a href="#/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>
                        </a>
                    </div>
                    <div class="navbar-text pull-right ss-right-glyph-margin">
                        <a ng-click="model.update(model.website)" class="ss-pointer">
                            <span class="glyphicon glyphicon-ok ss-whiteicon"></span>
                        </a>
                    </div>
                    <div class="navbar-header ss-whiteicon">
                        <!--<a class="navbar-brand no-left-padding no-left-margin">-->
                        <a class="navbar-brand">
                            <span class="ss-whiteicon"> Edit Website </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-4 hidden-xs ss-customborder">
                <ul class="list-group list-unstyled">

                    <li ng-repeat="website in model.websites" class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">{{website.name}}
                        </a>
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}">
                            <span class="glyphicon glyphicon-cog pull-right ss-bluecolor">
                            <span>
                        </a>
                    </li>


                    <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                        <!--<a href="../pages/page-list.html"> Address Book App-->
                        <!--</a>-->
                        <!--<a href="/assignment/Websites/website-edit.html">-->
                            <!--<span class="glyphicon glyphicon-cog pull-right ss-bluecolor">-->
                            <!--<span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                        <!--<a href="../pages/page-list.html"> Blogger-->
                        <!--</a>-->
                        <!--<a href="/assignment/Websites/website-edit.html">-->
                            <!--<span class="glyphicon glyphicon-cog pull-right ss-bluecolor">-->
                                <!--<span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                        <!--<a href="../pages/page-list.html"> Blogging App-->
                        <!--</a>-->
                        <!--<a href="/assignment/Websites/website-edit.html">-->
                            <!--<span class="glyphicon glyphicon-cog pull-right ss-bluecolor">-->
                                <!--<span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                        <!--<a href="../pages/page-list.html"> Script Testing App-->
                        <!--</a>-->
                        <!--<a href="/assignment/Websites/website-edit.html">-->
                            <!--<span class="glyphicon glyphicon-cog pull-right ss-bluecolor">-->
                                <!--<span>-->
                        <!--</a>-->
                    <!--</li>-->

                </ul>

            </div>



            <div class="col-sm-8 ss-right-margin">
                <div class="alert alert-danger ss-reduced-margin" ng-show="model.error">
                    {{model.error}}
                </div>

                <div class="alert alert-success ss-reduced-margin" ng-show="model.message">
                    {{model.message}}
                </div>
                <br>
                <div>
                    <label for="Website-Name">
                        Website Name
                    </label>
                    <input ng-model="model.website.name"
                           id="Website-Name" type="text"
                           class="form-control ss-right-margin" placeholder="Name"/>
                </div>
                <div>
                    <label for="Website-Description">
                        Website Description
                    </label>
                    <textarea ng-model="model.website.description"
                              id="Website-Description" type="text"
                              rows="5" class="form-control ss-right-margin"
                              placeholder="Description"></textarea>
                </div>

                <div class="ss-button-padding">
                    <a ng-click="model.deleteWebsite()"
                       class="btn btn-danger btn-block form-control">Delete
                    </a>

                </div>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="navbar-text pull-right ss-right-glyph-margin">
                    <div class="col-xs-3">
                        <a href="#/profile/{{model.userId}}">
                            <span class="glyphicon glyphicon-user ss-whiteicon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
