
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">

        <div class="row">

            <div class="col-sm-4">
                <div class="navbar-brand pull-left hidden-xs">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>
                    </a>
                </div>

                <div class="navbar-text pull-right hidden-xs">
                    <p>
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link pull-right">
                                <span class="glyphicon glyphicon-plus ss-whiteicon">
                                </span>
                        </a>
                    </p>
                </div>

                <div class="navbar-brand navbar-header hidden-xs" id="setwhite">
                    <a id="setwhite"> Pages
                    </a>
                </div>
            </div>

            <div class="navbar-header col-sm-8">
                <div class="navbar-brand pull-left visibble-xs">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>
                    </a>
                </div>
                <div class="navbar-text pull-right ss-right-glyph-margin">
                    <a ng-click="model.createPage(page)">
                        <span class="glyphicon glyphicon-ok ss-whiteicon"></span>
                    </a>
                </div>
                <div class="navbar-header ss-whiteicon">
                    <!--<a class="navbar-brand no-left-padding no-left-margin">-->
                    <a class="navbar-brand">
                        <span class="ss-whiteicon"> New Page </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-4 hidden-xs ss-customborder">
            <ul class="list-group list-unstyled">

                <li ng-repeat="page in model.pages"
                    class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"> {{page.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                        <span class="glyphicon glyphicon-cog pull-right ss-bluecolor">
                            <span>
                    </a>
                </li>
            </ul>

        </div>



        <div class="col-sm-8 ss-right-margin">
            <div>
                <label for="PageName">
                    Page Name
                </label>
                <input ng-model="page.name"
                       id="PageName" type="text"
                       class="form-control ss-right-margin" placeholder="Page Name"/>
            </div>
            <div>
                <label for="PageDescription">
                    Page Description
                </label>
                <input ng-model="page.description"
                       id="PageDescription" type="text" class="form-control ss-right-margin"
                       placeholder="Page Description"/>
            </div>

            <div class="ss-top-padding">
                <a ng-click="model.createPage(page)"
                   class="btn btn-success btn-block ">Create</a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="navbar-text pull-right ss-right-glyph-margin">
                <div class="col-xs-3">
                    <a href="#/profile/{{model.userId}}">
                        <span class="glyphicon glyphicon-user ss-whiteicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
