
    <div class="row">
        <div class="col-sm-12 ss-right-margin">
            <h3>HEADER Editor</h3>
            <div class="form-group">
                <label for="Name">
                    Name
                </label>
                <input id="Name" type="text" class="form-control ss-right-margin" placeholder="Name"/>
            </div>
            <div class="form-group">
                <label for="Text">
                    Text
                </label>
                <input ng-model="model.widget.text"
                       id="Text" type="text" class="form-control ss-right-margin" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="Size">
                    Size
                </label>
                <select ng-model="model.widget.size" class="form-control" id="Size">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>

            </div>
            <div class="ss-button-padding form-group">
                <a class="btn btn-danger btn-block form-control"
                   ng-click="model.deleteWidget()">Delete</a>
            </div>
        </div>
    </div>

