
    <div class="row ss-bg-color">

        <div class="col-sm-12 ss-right-margin">
            <h3>YOUTUBE VIDEO Editor</h3>
            <div class="form-group">
                <label for="Name">
                    Name
                </label>
                <input id="Name" type="text" class="form-control ss-right-margin" placeholder="Name"/>
            </div>
            <div class="form-group">
                <label for="Text">
                    Text
                </label>
                <input ng-model="model.widget.text"
                        id="Text" type="text" class="form-control ss-right-margin" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="URL">
                    URL
                </label>
                <input ng-model="model.widget.url"
                        id="URL" type="url" class="form-control ss-right-margin" placeholder="www.video.com/video.mp4">
            </div>
            <div class="form-group">
                <label for="Width">
                    Width
                </label>
                <select ng-model="model.widget.width" class="form-control" id="Width">
                    <option>20%</option>
                    <option>40%</option>
                    <option>60%</option>
                    <option>80%</option>
                    <option>100%</option>
                </select>
            </div>

            <div class="ss-button-padding form-group">
            <a class="btn btn-danger btn-block form-control"
               ng-click="model.deleteWidget()">Delete</a>
            </div>
        </div>
    </div>
