
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid bg-primary">-->

        <!--<div class="row">-->

            <!--<div class="col-sm-4">-->
                <!--<div class="navbar-brand pull-left hidden-xs">-->
                    <!--<a href="/assignment/Widgets/widget-list.html">-->
                        <!--<span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>-->
                    <!--</a>-->
                <!--</div>-->

                <!--<div class="navbar-brand navbar-header hidden-xs" id="setwhite">-->
                    <!--<a id="setwhite"> Choose Widget-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="navbar-header col-sm-8">-->
                <!--<div class="navbar-brand pull-left visible-xs">-->
                    <!--<a href="/assignment/Widgets/widget-list.html">-->
                        <!--<span class="glyphicon glyphicon-chevron-left" id="setwhite"> </span>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="navbar-text pull-right ss-right-glyph-margin">-->
                    <!--<a href="/assignment/Widgets/widget-list.html">-->
                        <!--<span class="glyphicon glyphicon-ok ss-whiteicon"></span>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="navbar-header ss-whiteicon">-->
                    <!--&lt;!&ndash;<a class="navbar-brand no-left-padding no-left-margin">&ndash;&gt;-->
                    <!--<a class="navbar-brand">-->
                        <!--<span class="ss-whiteicon"> Widget Edit </span>-->
                    <!--</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid">-->

    <div class="row">

        <!--<div class="col-sm-4 hidden-xs ss-customborder">-->
            <!--<ul class="list-group list-unstyled ss-list-right-padding ss-table-margin">-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="/assignment/Widgets/widget-heading.html"> Header-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> Label-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> HTML-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> Text Input-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> Link-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> Button-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="Widgets/widget-image.html"> Image-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="Widgets/widget-youtube.html"> Youtube-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> Data Table-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="list-group-item ss-bluecolor ss-bigfont ss-bg-color">-->
                    <!--<a href="#"> Repeater-->
                    <!--</a>-->
                <!--</li>-->

            <!--</ul>-->

        <!--</div>-->



        <div class="col-sm-12 ss-right-margin">
            <h3> NEW HEADER</h3>
            <div class="form-group">
                <label for="Name">
                    Name
                </label>
                <input id="Name" type="text" class="form-control ss-right-margin" placeholder="Name"/>
            </div>
            <div class="form-group">
                <label for="Text">
                    Text
                </label>
                <input ng-model="model.widget.text"
                       id="Text" type="text" class="form-control ss-right-margin" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="Size">
                    Size
                </label>
                <select ng-model="model.widget.size" class="form-control" id="Size">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>

            </div>
            <div class="ss-button-padding form-group">
                <a class="btn btn-danger btn-block form-control"
                   ng-click="model.createWidget(model.widget)">Create</a>
            </div>
        </div>
    </div>
<!--</div>-->

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container-fluid bg-primary">-->
        <!--<div class="row">-->
            <!--<div class="navbar-text pull-right ss-right-glyph-margin">-->
                <!--<div class="col-xs-3">-->
                    <!--<a href="/assignment/User/profile.html">-->
                        <!--<span class="glyphicon glyphicon-user ss-whiteicon"></span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

